{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Project Map" %} | {% endblock %}
{% block body-class %} map{% endblock %}
{% block left-nav %}map{% endblock %}

{% load leaflet_tags %}
{% load staticfiles %}

{% block extra_script %}
{% leaflet_js plugins="groupedlayercontrol"%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.js"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/L.Map.Deflate.js' %}"></script>
<script src="{% static 'js/map_utils.js' %}"></script>

<script src="{% static 'js/BootSideMenu.js' %}"></script>
<script>
  function locations_map_init(map, options) {
    // TODO: It seems Leaflet has a bug with L.geoJson()
    // not returning the correct bounds (see #377 for details)
    var trans = {
      open: "{% trans 'Open location' %}"
    };

    switch_layer_controls(map, options);

    {% if object.extent %}
    var projectExtent = {{ object.extent.geojson|safe }};
    {% else %}
    var projectExtent = null;
    {% endif %}

    renderFeatures(map,
                   '{% url "async:spatial:list" object.organization.slug object.slug %}',
                   {projectExtent: projectExtent, trans: trans, fitBounds: 'locations'});

    var orgSlug = '{{ object.organization.slug }}';
    var projectSlug = '{{ object.slug }}';
    var url = '/api/v1/organizations/'
            + orgSlug + '/projects/' + projectSlug + '/spatialresources/';
    add_spatial_resources(map, url);
  }
</script>

<script>
$(document).ready(function(){

  $('#test').BootSideMenu({
      side: "right",
      pushBody: true,
      remember: false,
      width: '33.33333%'
  });

  $("#apartment").mouseover(function(){
    $("svg g:nth-child(4) path").css({"fill-opacity": "1"});
  });
  $("#apartment").mouseleave(function(){
    $("svg g:nth-child(4) path").css("fill-opacity", ".5");
  });
  $("#building1").mouseover(function(){
    $("svg g:nth-child(2) path").css("fill-opacity", "1");
  });
  $("#building1").mouseleave(function(){
    $("svg g:nth-child(2) path").css("fill-opacity", ".5");
  });
  $("#building2").mouseover(function(){
    $("svg g:nth-child(6) path").css("fill-opacity", "1");
  });
  $("#building2").mouseleave(function(){
    $("svg g:nth-child(6) path").css("fill-opacity", ".5");
  });
  $("#parcel").mouseover(function(){
    $("svg g:nth-child(3) path").css("fill-opacity", "1");
  });
  $("#parcel").mouseleave(function(){
    $("svg g:nth-child(3) path").css("fill-opacity", ".3");
  });
  $("#misc").mouseover(function(){
    $("svg g:nth-child(5) path").css("fill-opacity", "1");
  });
  $("#misc").mouseleave(function(){
    $("svg g:nth-child(5) path").css("fill-opacity", ".5");
  });

});


</script>

{% endblock %}

{% block extra_head %}
{% leaflet_css plugins="groupedlayercontrol"%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.css">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
<style type="text/css">
  #project-map {
    height: 600px;
  }
  svg g:nth-child(3) path {  /* parcel */
    fill: #2c7fb8;
    stroke: #2c7fb8;
    fill-opacity: 0.3;
  }
  svg g:nth-child(2) path,
  svg g:nth-child(6) path {  /* building */
    fill: #a1dab4;
    stroke: #a1dab4;
    fill-opacity: 0.5;
  }
  svg g:nth-child(4) path {  /* apartment */
    fill: #41b6c4;
    stroke: #41b6c4;
    fill-opacity: 0.5;
  }
  svg g:nth-child(5) path {  /* misc */
    fill: #253494;
    stroke: #253494;
    fill-opacity: 0.5;
  }
</style>
{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="top-search header page-header" style="border-left: solid 1px #fff; position: relative; top: 0; height: 44px; min-height: 44px; padding-top: 8px;">
    <label class="pull-left" style="width: 15%;"><div class="input-group" style="padding: 0 10px 0 20px; height: 24px; line-height: 24px; "><span class="input-group-addon" style="padding: 2px 12px;
font-size: 13px;" ><span class="glyphicon glyphicon-search" style="font-size: 12px;"></span></span><input class="form-control input-sm" style="height: 26px; line-height: 26px;" placeholder="Search records" aria-controls="DataTables_Table_0" type="search"></div></label>
    <div class="pull-left" style="font-family: Roboto Condensed; color:#fff; padding: 2px 6px 0 10px;">FILTER BY</div>
    <div class="pull-left" style="width: 12%; padding-right: 10px;">
      <label style="display: none; color: #eee; font-size: 12px; float: left;">Location</label>
      <select class="form-control input-sm" style="height: 26px; line-height: 26px; padding: 0px 10px;"><option>All location types</option>
      </select>
    </div>
    <div class="pull-left" style="width: 12%; padding-right: 10px;">
      <label style="display: none; color: #eee; font-size: 12px; float: left;">Tenure</label>
      <select class="form-control input-sm" style="padding: 0px 10px; height: 26px; line-height: 26px; ">
        <option>All tenure types</option>
      </select>
    </div>
    <div class="pull-left" style="width: 12%; padding-right: 10px;">
      <label style="display: none; color: #eee; font-size: 12px; float: left;">Party</label>
      <select class="form-control input-sm" style="height: 26px; line-height: 26px; padding: 0px 10px;"><option>All parties</option>
      </select>
    </div>
    <div class="pull-left">
      <button type="button" class="btn btn-primary btn-sm pull-left" style="padding: 4px 10px;">Apply filters</button>
      <button type="button" class="btn btn-link btn-sm pull-left" style="color: #ccc; padding: 4px 10px">Reset</button>
    </div>
    <div class="pull-left" style="color: #fff; padding: 4px 10px;">
      <strong>5</strong> records showing
    </div>
    <div class="btn-group btn-group-xs pull-right" role="toolbar" style="padding-right: 20px;">
      <button type="button" class="btn btn-default" style="background: transparent; height: 28px; border-color: #999;"><img src="/static/img/icon-map2.png" style="width: 22px; padding: 4px;"></button>
      <button type="button" class="btn btn-default" style="background: transparent; height: 28px; border-color: #999;"><img src="/static/img/icon-split-green.png" style="width: 22px; padding: 4px;"></button>
      <button type="button" class="btn btn-default" style="background: transparent; height: 28px; border-color: #999;"><img src="/static/img/icon-table.png" style="width: 22px; padding: 4px;"></button>
    </div>
  </div>

  <div class="row">
    <!-- Start overview map  -->
    <div class="col-md-12 map">
      {% leaflet_map "project-map" callback="locations_map_init" %}
    </div>
    <!-- / end overview map -->
  </div>
</div>
<div id="test" class="container sidebar sidebar-right content-single" style="overflow-y: unset; overflow: visible;">
  <div class="row">  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="detail" style="overflow-y: hidden; margin-bottom: 400px; box-shadow: 0 0 0;">
        <div class="top-bar">
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Locations</a></li>
              <li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab">Parties</a></li>
            </ul>
        </div>
        <section>
          <div class="page-title">
            <div class="tab-content">
              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <table class="table table-hover datatable dataTable no-footer" data-paging-type="simple" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                  <thead>
                    <tr role="row">
                      <th class="col-md-12 sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Location type: activate to sort column descending">Location Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="apartment">
                      <td>
                        <span class="glyphicon glyphicon-map-marker" style="color: #41b6c4;"></span>
                        <div class="pull-left"><h4><a href="/organizations/habitat-for-humanity/projects/pekapuran-laut/records/locations/qsm4iz7tz3juue8wyrbk3z7y/">Apartment</a> <span class="size">456 m<sup>2</sup></span></h4>
                        <p class="small">Leasehold &middot; Chief Sonieky</p></div>
                      </td>
                    </tr>
                    <tr id="building1">
                      <td>
                        <span class="glyphicon glyphicon-map-marker" style="color:#a1dab4;"></span>
                        <div class="pull-left"><h4><a href="">Building</a> <span class="size">856 m<sup>2</sup></span></h4>
                        <p class="small">Longterm Leasehold &middot; Congregation de Santos</p></div>
                      </td>
                    </tr>
                    <tr id="building2">
                      <td>
                        <span class="glyphicon glyphicon-map-marker" style="color:#a1dab4;"></span>
                        <div class="pull-left"><h4><a href="">Building</a> <span class="size">7.3 ha<sup>2</sup></span></h4>
                        <p class="small">Leasehold &middot; Chief Sonieky</p></div>
                      </td>
                    </tr>
                    <tr id="parcel">
                      <td>
                        <span class="glyphicon glyphicon-map-marker" style="color: #2c7fb8;"></span>
                        <div class="pull-left"><h4><a href="">Parcel</a> <span class="size">5.9 ha</span></h4>
                        <p class="small">Hunting/Fishing/Harvest Rights &middot; Congregation de Santos</p></div>
                      </td>
                    </tr>
                    <tr id="misc">
                      <td>
                        <span class="glyphicon glyphicon-map-marker" style="color: #253494;"></span>
                        <div class="pull-left"><h4><a href="">Miscellaneous</a> <span class="size">1m<sup>2</sup></span></h4></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /location index -->
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="toggler" data-whois="toggler"> <span class="glyphicon glyphicon-chevron-right">&nbsp;</span></div>


{% endblock %}
